body {
  background-image: linear-gradient(to bottom right, rgb(59, 58, 58),
      rgb(255, 255, 255));
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: hidden; 
}

.title {
  margin-top: 4vh;
  margin-left: 4.5vh;
}

#results-container {
  text-align: center;
}

h1 {
  font-family: 'Exo 2', sans-serif;
  font-size: 4em;
  margin-left: .1vh;
  color: #ffd000;
}

h2 {
  font-family: 'Exo 2', sans-serif;
  margin-left: 6vh;
  font-size: 2.5em;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(2vh, auto);
}

#img-container {
  position: relative;
  margin-top: 22vh;
  margin-left: 44vh;
  margin-right: 50vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
 
ul {
  color: #fff;
}

img {
  justify-content: space-between;
  margin-left: 10vh;
  height: 25vh;
  width: 25vh;
  border-style: solid;
  border-width: .4vh;
  margin-bottom: 17vh;
  color: #ffd000;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  left: 30.5%;
  bottom: 20vh;
  font-size: 2.75em;
}

footer {
  position: absolute;
  padding: 1vh;
  width: 100%;
  font-size: 1.5em;
  text-align: center;
  color: gray;
  background-color: #000;
  height: 20vh;
}

#plzVote {
 position: absolute;
 top: 22vh;
}

