body {
  background-image: linear-gradient(to bottom right, rgb(59, 58, 58),
      rgb(255, 255, 255));
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title {
  margin-top: 60px;
  margin-left: 125px;
  margin-right: 125px;
}

#results-container {
  text-align: center;
  margin-right: 1435px;
}

h1 {
  color: #ffd000;
  -webkit-background-clip: text;
  font-family: 'Exo 2', sans-serif;
  font-size: 4em;
}

h2 {
  font-family: 'Exo 2', sans-serif;
  margin-left: 70px;
  font-size: 30pt;
  margin-bottom: 40px;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(200px, auto);
}

#img-container {
  grid-column: 2/-1;
  grid-row: 1/3;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 170px;
}

#results-list {
  grid-row: 1/5;
  margin-left: 30px;
  line-height: 2em;
}

ul {
  color: #fff;
}

img {
  justify-content: space-between;
  margin-left: 20px;
  height: 400px;
  width: 400px;
  border-style: solid;
  border-width: 4px;
  color: #ffd000;
}

p {
  position: absolute;
  left: 860px;
  bottom: 800px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30pt;
}


li {
  position: relative;
  top: -320px;
  left: 48px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13pt;
  margin-bottom: 8px;
  color: rgb(219, 219, 219);
}

#show-results-btn {
  width: max-content;
  font-family: 'Exo 2', sans-serif;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  background-color: #111;
  position: relative;
  z-index: 0;
  left: 220px;
  top: -380px;
  height: 20px;
}


#show-results-btn:before {
  content: '';
  background: linear-gradient(45deg, #d8b909, #f1ee23, #ccc012, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

#show-results-btn:active {
  color: #000
}


#show-results-btn:active:after {
  background: transparent;
}

#show-results-btn:hover:before {
  opacity: 1;
}

#show-results-btn:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

footer {
  background-color: #000;
  color: gray;
  height: 10px;
  padding: 10px;
  font-size: 1.5em;
  text-align: right;
}